{% extends "network/layout.html" %}

{% block body %}
<h1 id="title">All Posts</h1>
    {% if user.is_authenticated %}
        <div id="new-post-form">
            <form method="POST">
                {% csrf_token %}
                <h3 id="new-post-form-title">New Post</h3>
                <br>
                <textarea id="new-post-form-content" name="new-post-form-content"></textarea>
                <br>
                <button type="submit" id="new-post-form-submit" class="btn btn-primary">Submit</button>
                <input type="hidden" name="new-post-content" value="null">
            </form>
        </div>
    {% endif %}
        {% for post in page_obj %}
            <div class="all-posts">
                <form method="POST">
                    {% csrf_token %}
                    <h6 class="all-posts-user"><a href="profile/{{post.user.id}}">{{post.user}}</a></h6>
                    <p id="post-{{post.id}}" class="all-posts-content"><b>{{post.content}}</b></p>
                    <textarea class="editpost-textarea" id="editpost-textarea-{{post.id}}" style="display: none;" name="new-post-content">{{post.content}}</textarea>
                    <p class="all-posts-time">{{post.time}}</p>
                    <p class="all-posts-likes">Likes: {{post.likes}}</p>
                    {% if post.user == request.user %}
                        <button data-postid="{{post.id}}" class="editpost-button" id="editpost-button-{{post.id}}" onclick="edit(event)">Edit Post</button>
                        <input type="submit" id="editpost-submit-{{post.id}}" value="Save" style="display: none;" class="editpost-submit">
                        <input type="hidden" name="old-post-content" value="{{post.content}}">
                        <input type="hidden" name="old-post-time" value="{{post.time}}">
                    {% endif %}
                </form>
            </div>
        {% endfor %}

        <nav aria-label="...">
            <ul class="pagination">

                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if i == page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">
                            <a style="color:white;" href="?page={{ i }}">{{i}}</a>
                            <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}

            </ul>
        </nav>

{% endblock %}