{% extends "network/layout.html" %}

{% block body %}
<h1 id="title">All Posts</h1>
    {% if user.is_authenticated %}
        <div id="new-post-form">
            <form method="POST">
                {% csrf_token %}
                <h3 id="new-post-form-title">New Post</h3>
                <br>
                <textarea id="new-post-form-content" name="new-post-form-content"></textarea>
                <br>
                <button type="submit" id="new-post-form-submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endif %}
        {% for post in posts %}
            <div class="all-posts">
                <h6 class="all-posts-user">{{post.user}}</h6>
                <p class="all-posts-content">{{post.content}}</p>
                <p class="all-posts-time">{{post.time}}</p>
                <p class="all-posts-likes">Likes: {{post.likes}}</p>
            </div>
        {% endfor %}
{% endblock %}