{% extends "network/layout.html" %}

{% block body %}

    <h1 id="profile-profilename">Profile: {{profile.username}}</h1>
    <p id="profile-profilefollow">Followers: {{followers}} Following: {{following}}</p>

    {% if not isSameUser %}
        {% if not isFollowing %}
            <form method="POST" action="">
                {% csrf_token %}
                <input type="hidden" value="follow" name="button">
                <input type="submit" value="Follow" id="button-follow">
                <input type="hidden" name="follow" value="true">
            </form>
        {% else %}
            <form method="POST" action="">
                {% csrf_token %}
                <input type="hidden" value="unfollow" name="button">
                <input type="submit" value="Unfollow" id="button-follow">
                <input type="hidden" name="follow" value="true">
            </form>
        {% endif %}
    {% endif %}

    {% if isSameUser %}
        {% for post in posts %}
            <div class="all-posts">
                <p id="post-{{post.id}}" class="all-posts-content" style="margin: 20px;"><b>{{post.content}}</b></p>
                <textarea class="editpost-textarea" id="editpost-textarea-{{post.id}}" style="display: none; margin-top: 20px;" name="new-post-content">{{post.content}}</textarea>
                <p class="all-posts-time">{{post.time}}</p>
                <p class="all-posts-likes">Likes: <span id='likes-{{post.id}}'>{{post.likes}}</span></p>
                <button data-postid="{{post.id}}" class="editpost-button" id="editpost-button-{{post.id}}" onclick="edit(event)">Edit Post</button>
                <button data-postid="{{post.id}}" onclick="save(event)" id="editpost-submit-{{post.id}}" style="display: none; float: left;" class="editpost-submit">Save</button>
                <input type='hidden' name="follow" value="null">
                {% if post.id in likedPosts %}
                    <button class="likeButton" id='unlike-post-{{post.id}}' data-postid="{{post.id}}" data-userid="{{user.id}}" onclick="unlike(event)">Unlike</button>
                    <button class="likeButton" style="display: none;" id='like-post-{{post.id}}' data-postid="{{post.id}}" data-userid="{{user.id}}" onclick="like(event)">Like</button>
                {% else %}
                    <button class="likeButton" id='like-post-{{post.id}}' data-postid="{{post.id}}" data-userid="{{user.id}}" onclick="like(event)">Like</button>
                    <button class="likeButton" style="display: none;" id='unlike-post-{{post.id}}' data-postid="{{post.id}}" data-userid="{{user.id}}" onclick="unlike(event)">Unlike</button>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        {% for post in posts %}
            <div class="all-posts">
                <b><p class="all-posts-content">{{post.content}}</p></b>
                <p class="all-posts-time">{{post.time}}</p>
                <p class="all-posts-likes">Likes: <span id='likes-{{post.id}}'>{{post.likes}}</span></p>
                {% if post.id in likedPosts %}
                    <button class="likeButton" id='unlike-post-{{post.id}}' data-postid="{{post.id}}" data-userid="{{user.id}}" onclick="unlike(event)">Unlike</button>
                    <button class="likeButton" style="display: none;" id='like-post-{{post.id}}' data-postid="{{post.id}}" data-userid="{{user.id}}" onclick="like(event)">Like</button>
                {% else %}
                    <button class="likeButton" id='like-post-{{post.id}}' data-postid="{{post.id}}" data-userid="{{user.id}}" onclick="like(event)">Like</button>
                    <button class="likeButton" style="display: none;" id='unlike-post-{{post.id}}' data-postid="{{post.id}}" data-userid="{{user.id}}" onclick="unlike(event)">Unlike</button>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    

{% endblock %}
