#title {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}

#new-post-form {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px lightgrey solid;
    border-radius: 10px;

}

#new-post-form-title {
    margin: 20px;
    margin-bottom: 0px;
}

#new-post-form-content {
    margin-left: 20px;
    margin-top: 5px;
    width: 1850px;
    border: 1px lightgrey solid;
    border-radius: 10px;
}

#new-post-form-submit {
    margin-left: 20px;
    margin-bottom: 20px;
}

.all-posts {
    border: 1px lightgrey solid;
    border-radius: 10px; 
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.all-posts-user {
    margin: 20px;
}

.all-posts-content {
    margin-left: 20px;
    margin-bottom: 1px;
}

.all-posts-time {
    margin-left: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.all-posts-likes {
    margin-left: 20px;
    margin-top: 1px;
}

#profile-profilename {
    text-align: center;
}

#profile-profilefollow {
    text-align: center;
}

#button-follow {
    margin-left: 925px;
}

/* bootstrap code */
.editpost-button {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* bootstrap code */
.editpost-button:hover {
    background-color: #0065d1;
}

/* bootstrap code */
.editpost-submit {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* bootstrap code */
.editpost-submit:hover {
    background-color: #0065d1;
}

.editpost-textarea {
    margin-left: 20px;
}